# Compiled class files
*.class

# Log files
*.log

# Directory for compiled classes
/target/
/bin/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# Eclipse files
*.project
.classpath
.settings/

# VS Code files
.vscode/

# Mac .DS_Store files
.DS_Store

# Gradle files
.gradle/
build/
out/
!gradle-wrapper.jar

# Gradle Wrapper executable
gradlew
gradlew.bat

# Docker files
*.env

# Ignore potential secret files
secrets.yml
secrets.properties
